*.ma linguist-detectable=false

*.ma linguist-language=Maya
*.mel linguist-language=MEL
*.py linguist-language=Python
*.md linguist-language=Markdown
*.txt linguist-language=Plain Text
*.json linguist-language=JSON
